################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.config
*.user
/src/Bitwise/bin/Debug
/artifacts/bin/Bitwise/Debug
/BitwiseTest/bin/Debug
/BitwiseTest/obj/Debug
